* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #e9e9e9;
  font-family: 'Zilla Slab', serif;
}


.link {
  font-size: 500px;
}

.main {
  display: flex;
  justify-content: center;
}

.boxfr {
  margin-right: 20px;
  text-align: center;
  border: 2px solid red;
  padding: 15px 10px;
  border-radius: 10px;
}

.boxsc {
  text-align: center;
  margin-right: 20px;
  border: 2px solid red;
  padding: 15px 10px;
  border-radius: 10px;
}

.title {
  padding: 20px 0;
  text-align: center;
  background-color: red;
  color: #fff;
  margin-bottom: 30px;
  font-size: 45px;
  font-weight: 600;
}

h3 {
  margin-bottom: 20px;
  color: red;
  font-size: 25px;
}

.list {
  list-style: none;
  text-align: left;
  padding: 20px 0;
}

.list li {
  margin-bottom: 15px;
}

.boxth {
  text-align: center;
  margin-right: 20px;
  border: 2px solid red;
  padding: 15px 10px;
  border-radius: 10px;
}

.btn {
  color: white;
  background-color: red;
  border: none;
}

.btn-link {
  padding: 10px 15px;
  text-decoration: none;
  background-color: red;
  color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}